/* general style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global variables */
:root {
    --primary-color: white;
    --secondary-color: yellow;
    --tertiary-color: midnightblue;
}

header {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);
    /* box-shadow: 1px 1px 1px 1px silver; */
    border-bottom: 5px solid var(--primary-color);
    border-radius: 0.2em;
    margin-left: 0.5em;
}

h1 span {
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary-color);
}

nav{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
}

#favourites{
    color: var(--primary-color);
    margin-right: 1rem;
    margin-top: 0.3rem;
}

.search-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--primary-color);
    width: 400px;
}

#search{
    padding: 0.2em;
    padding-left: 0.5em;
    font-size: 1.2rem;
    outline: none;
    width: 100%;
    border: none;
}

/* media queries for header */
@media screen and (max-width: 700px) {
    .search-container{
        width: 300px;
    }
}

@media screen and (max-width: 550px) {
    h1{
        margin-right: 1rem;
    }
    #favourites{
        display: flex;
        align-items: center;
        margin-top: -0.2em;
        cursor: pointer;
    }
    #favourites span{
        padding-left: 0.3em;
    }
    .search-container{
        width: 200px;
    }
}

.movie-list{
    position: absolute;
    max-height: 80vh;
    overflow-y: scroll;
    z-index: 10;
    right: 0;
    top: 100%;
    list-style-type: none;
}

.search-item{
    background: rgb(216, 231, 231);
    padding: 0.5em;
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--tertiary-color);
}

.search-item:hover{
    background: rgb(160, 192, 192);
}

.search-item h4{
    padding-right: 1rem;
}

/* javascript related class */
.search-list-hidden{
    display: none;
}

/* main */

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.details{
    width: 50vw;
}

.details h3{
    color: var(--tertiary-color);
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}

.details p>b{
    text-transform: uppercase;
}

.poster, .details{
    margin: 2rem;
}

.poster img{
    width: 20vw;
    height: 70vh;
}

/* media queries for movie Page */
@media screen and (max-width: 600px) {
    #container{
        display: flex;
        flex-direction: column;
    }

    .poster, .details{
        width: 80%;
        margin: 1rem auto;
    }

    .poster img{
        width: 80vw;
        height: 80vh;
    }
}